In [1]:
import pandas as pd

In [330]:
years = []
for i in range(1970,1984):
    years.append(pd.read_csv("CC_"+str(i)+"_alumni.csv"))

In [385]:
total_years = years[0]
for year in years[1:]:
    total_years = pd.concat([total_years,year])
total_years = total_years.drop(total_years.columns[0],axis=1)
# total_years = total_years.drop(total_years.columns[],axis=1)
total_years.columns=  ["Name","Notes","Year", "School","email","a","b","c","d","e","f","g"]
total_years = total_years[["Name","Year", "School","Notes","email","a","b","c","d","e","f","g"]]
total_years.index = range(len(total_years))

In [386]:
for row in total_years.index :
    if "?" in str(total_years.loc[row][4:]):
        total_years.at[row,"email"]=[i for i in list(total_years.loc[row][4:]) if str(i) != "nan"]
        if "@" not in str(total_years.loc[row][4]):
            emails=[]
            for email in total_years.loc[row][4]:
                indx=email.rindex("?")
                emails.append(email[:indx+1]+"@"+email[indx+1:])
            total_years.at[row,"email"]=emails

In [387]:
total_years = total_years[total_years.columns[:5]]

In [388]:
for row in total_years.index:
    if type(total_years.at[row,"email"])==list:
        total_years.at[row,"Notes"]=str(total_years.at[row,"Notes"])+"  "+", ".join(total_years.at[row,"email"])
    else:
        total_years.at[row,"Notes"]=str(total_years.at[row,"Notes"])+"  "+str(total_years.at[row,"email"])

In [389]:
total_years["Email"]=[""]*len(total_years)

In [390]:
total_years["tentative_last_name"]=[""]*len(total_years)
for row in total_years.index:
    total_years.at[row,"tentative_last_name"] = total_years.loc[row,"Name"].split(" ")[-1]

In [391]:
total_years.to_csv("class years 1970-1983.csv")

In [359]:
row

257

In [ ]:
for row in total_years.index:
    #see if the number of ?'s is equal to the length of the last name or last name +1
    #if there is one ? then add the first initial of last name
    #if so, add the tentative email to the end of the notes and to the email column

In [348]:
for row in total_years.index:
    if type(total_years.iloc[row][4])==list:

['al????@nygasp.org', 'in??@nygasp.org']
other error
['ae???@caa.columbia.edu', 'an?????????@yahoo.com', 'an?????????????@nychhc.org', 'an??????@hotmail.com']
other error
other error

In [350]:
total_years.loc[0,"Name"]

'Albert H. Bergeret'

In [349]:
"hello".split("l")

['he', '', 'o']

In [317]:
x = total_years.loc[0]
x.index=range(len(x))

In [318]:
for row in x.index :
    if "?" in str(x.loc[row][4:]):
        x.at[row,"email"]=[i for i in list(x.loc[row][4:]) if str(i) != "nan"]
        if "@" not in str(x.loc[row][4]):
            emails=[]
            for email in x.loc[row][4]:
                indx=email.rindex("?")
                emails.append(email[:indx+1]+"@"+email[indx+1:])
            x.at[row,"email"]=emails

['al????nygasp.org', 'in??nygasp.org']
['al????@nygasp.org', 'in??@nygasp.org']
['aa????????????gmail.com', 'aa??????????caa.columbia.edu', 'aa?????fpt-law.com', 'aa??????nyc.rr.com', 'aa???rgti.com']
['aa????????????@gmail.com', 'aa??????????@caa.columbia.edu', 'aa?????@fpt-law.com', 'aa??????@nyc.rr.com', 'aa???@rgti.com']
['ab?????earthlink.net', 'aa?????earthlink.net']
['ab?????@earthlink.net', 'aa?????@earthlink.net']
['an???????gmail.com']
['an???????@gmail.com']
['am???????comcast.net', 'am???????mediaone.net']
['am???????@comcast.net', 'am???????@mediaone.net']

In [256]:
[i for i in list(x.loc[0][4:]) if str(i) != "nan"]

['al????nygasp.org', 'in??nygasp.org']

In [262]:
x.at[row, email]=[i for i in list(x.loc[0][4:]) if str(i) != "nan"]

In [263]:
x

,Name,Year,School,Notes,email,a,b,c,d,e,f,g
0,Albert H. Bergeret,70,CC,70CC ahb30,al????nygasp.org,"[al????nygasp.org, in??nygasp.org]",NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron E. Albert,71,CC,71CC aea37,aa????????????gmail.com,aa??????????caa.columbia.edu,aa?????fpt-law.com,aa??????nyc.rr.com,aa???rgti.com,NaN,NaN,NaN
2,Alejandro Abella,72,CC,72CC aa727,ab?????earthlink.net,aa?????earthlink.net,NaN,NaN,NaN,NaN,NaN,NaN
3,Andrew J. Ames,73,CC,73CC aja65,an???????gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anthony M. Ambriano,74,CC,74CC ama75,am???????comcast.net,am???????mediaone.net,NaN,NaN,NaN,NaN,NaN,NaN
5,Arne R. Anderson,75,CC,75CC ara30,ar???????????@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Anthony A. Anemone,76,CC,76CC aaa55,To?????????@gmail.com,an??????@newschool.edu,aa????@wm.edu,aa????@facstaff.wm.edu,NaN,NaN,NaN,NaN
7,Alan R. Abrams,77,CC,77CC ara32,aa?????@commendacapital.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Alberto M. Acosta,78,CC,78CC ama77,am??????@travelersmedical.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Arthur S. Adler,79,CC,79CC 82LAW asa29,ad????@sullcrom.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Anthony A. Artuso,80,CC,80CC aaa56,an????????????@comcast.net,an????????????@bms.com,NaN,NaN,NaN,NaN,NaN,NaN
11,Alain Benzaken,81,CC,81CC ab844,al???????????@caa.columbia.edu,al???????????@gmail.com,al???????????@yahoo.com,al???@troutsoft.com,NaN,NaN,NaN,NaN
12,Anthony F. Adamo,82,CC,82CC afa14,ad?????????@juno.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Andrew Evan Abere,83,CC,83CC 86GSAS 87GSAS 91GSAS aea1,"Sorry, your UNI has the following affiliation ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
[i for i in list(x.loc[0][4:]) if str(i) != "nan"]

['al????nygasp.org', 'in??nygasp.org']

In [248]:
x.loc(row)

In [250]:
x.loc[0]

Name      Albert H. Bergeret
Year                      70
School                    CC
Notes             70CC ahb30
email       al????nygasp.org
a             in??nygasp.org
b                        NaN
c                        NaN
d                        NaN
e                        NaN
f                        NaN
g                        NaN
Name: 0, dtype: object